.Column {
  width: 25%;

  .name {
    color: white;
  }

  &.Winnie .name {
    background-color: #8E6E95;
  }

  &.Bob .name {
    background-color: #39A59C;
  }

  &.Thomas .name {
    background-color: #344759;
  }

  &.George .name {
    background-color: #E8741E;
  }

}
